body, html{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-family: arial;
}

/* #tijden{
    height: 10vw;
    width: 10vw;
    background-color: red;
} */
#imgsize{
    height: 150px !important;
    width: 150px !important;
    margin-bottom: 30px;
    margin-top: 10px;
}

#melding{
    font-family: 'Lato', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #608338;
    margin-top: 15px;
}

.green{
    background-color:#608338;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
}
.green2{
    background-color:#608338;
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
}

.text{
    margin-left: 110px;
    margin-top: 8px;
    font-family: 'Lato', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #608338;
}